<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
	  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<body th:fragment="commonLogin(title, path, isLoginForm)">
    <h3 th:text="${title}"></h3>
    <div th:if="${message}">
        <p th:text="${message}"/>
    </div>

    <div th:if="${param.error}">
      	Введены некорректыне данные!
    </div>
    <div th:if="${param.logout}">
        Вы только что вышли из программы!
    </div>
    <form th:action="${path}" method="post">
        <div><input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/></div>
        <div th:remove="${isLoginForm}?body"><label>Имя: <input type="text" name="firstName"/></label></div>
        <div th:remove="${isLoginForm}?body"><label>Фамилия: <input type="text" name="lastName"/></label></div>
        <div><label>Email: <input type="text" th:name="${isLoginForm}?username:email"/></label></div>        
        <div><label>Пароль: <input type="password" name="password"/></label></div>
        <div th:if="${isLoginForm}"><label><input type="checkbox" name="remember-me"/>Запомнить меня</label></div>			
        <div th:if="${!isLoginForm}">
            <div class="g-recaptcha" data-sitekey="6LdnEL4UAAAAAM6h1YjSYgcOdN6BSAZBhU8pyM-m"></div>
            <div th:if="${captchaError}">
				<p th:text="${captchaError}"/>
			</div>            
        </div>
        <div th:if="${isLoginForm}"><input type="submit" value="Войти"/></div>
        <div th:if="${!isLoginForm}"><input type="submit" value="Регистрация"/></div>
        <a th:if="${isLoginForm}" href="/registration">Создать нового пользователя</a>
    </form>
</body>

</html>